#rulesDiv{
    margin: 20px;
}

p, h1, h3{
    font-family: sans-serif;
}

nav{
    color:white;
    background-color: #2d333b;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: auto;
    padding: 13px;
    display: flex;
    position: sticky;
}

footer{
    position:absolute;
    bottom: 0;
    right: 0;
}


#navButtons{
    flex-grow: 1;
}

#navName{
    flex-grow: 1;
    text-align: center;
}

#navProfile{
    flex-grow: 1;
    text-align: right;
}



body{
    font-family: 'Saira', sans-serif;
    margin: 0;
}


#buttonDiv{
    padding-left: 20px;
}

.startGameDiv{
    border-radius: 10px;
    padding: 5px;
    width: 95px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: greenyellow;
}



/* base css */
.icon_svg{
    width: 25px;
    height: 25px;
    fill: white;
    cursor: pointer;
}

.icon_svg:hover{
    fill: lightgray;
}

.github_svg {
    fill: black;
    padding-right: 2em;
}

.github_svg:hover {
    fill: gray;
}

/* btn */
a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}
.btn {
    background-color: #4d586f;
    color: white;
    border: none;
    cursor: pointer;

    margin-top: 3.375rem;
    padding: 15px 20px;
    border-radius: .5rem;
    box-shadow: 0px 10px 0px 0px #262d3d;
}

.btn:active {
    transform: translateY(5px);
    box-shadow: 0px 7px 0px 0px #15171f;
    background: linear-gradient(90deg, rgb(24, 29, 39) 0%, rgb(37, 44, 60) 14.06%, rgb(37, 45, 61) 83.85%, rgb(20, 24, 32) 100%);
}

/* table */
.show_move {
    height: 15px;
    width: 15px;
    background-color: lightgrey;
    border-radius: 50%;
    border:solid lightgray;
    margin-left: auto;
    margin-right: auto;
  }

  table{
    border-spacing:0;
    border-collapse: collapse;
    margin: 10px;
}

th{
    min-width: 80px;
    border: solid 2px;
    height: 80px;
}

.playerDefault1{
    background-color: #c3b1e2;
}

.playerDefault2{
    background-color: #fdf698;
}

.greenPlayer{
    background-color: #76bb60;
}
.redPlayer{
    background-color:#ff6961;
}
.purplePlayer{
    background-color:#c3b1e2;
}
.yellowPlayer{
    background-color:#fdf698;
}
.bluePlayer{
    background-color:#a7ecf2;
}


.container{
    display: flex;
}

.game-board {
    margin-left: auto;
    margin-right: auto;
}


.score_board {
    display: flex;
    flex-direction: column;
  }
  
  .up {
    display: flex;
    justify-content: space-between;
  }
  
  .down {
    display: flex;
    align-items: center;
  }
  
  .container_winner {
    height: 100%;
    margin: auto;
  }
  
/* search */

.form_settings {
    background-color: #4d586f/*#b4b7ca*/;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1cm;
  }

.input_settings {
    all: unset;
    font: 16px system-ui;
    color: white;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color: white;
    opacity: 0.7; 
  }

.search_svg {
    color: white;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

.button_settings {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }


/* settings */
.token_svg {
    fill: #2d333b;
    width: 50px;
    height: 50px;
}

.radio-button  {
    display: flex;
    align-items: center;
}

.column {
    margin-top: 2em;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.players_settings {
    display:flex;
    align-items: center;
}

.size_settings, .radio-button{
    align-items: center;
    text-align: center;
}

.player1_settings, .player2_settings{
    flex: 1;
    margin: 0 30px;
}

.game-settings {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #e8e9f1;
    border: solid #2d333b 2px;
    border-radius: .5rem;
    padding-bottom: 2em;
}