#rulesDiv{
    margin: 20px;
}


nav{
    color:white;
    background-color: #2d333b;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: auto;
    padding: 13px;
    display: flex;
    position: sticky;
}

footer{
    position:absolute;
    bottom: 0;
    right: 0;
}


#navButtons{
    flex-grow: 1;
}

#navName{
    flex-grow: 1;
    text-align: center;
}

#navProfile{
    flex-grow: 1;
    text-align: right;
}



body{
    font-family: 'Saira', sans-serif;
    margin: 0;
}


#buttonDiv{
    padding-left: 20px;
}

.startGameDiv{
    border-radius: 10px;
    padding: 5px;
    width: 95px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: greenyellow;
}



/* base css */
.icon_svg{
    width: 25px;
    height: 25px;
    fill: white;
    cursor: pointer;
}

.icon_svg:hover{
    fill: lightgray;
}

.github_svg {
    fill: black;
    padding-right: 2em;
}

.github_svg:hover {
    fill: gray;
}

/* btn */
a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}
.btn {
    background-color: #4d586f;
    color: white;
    border: none;
    cursor: pointer;

    margin-top: 3.375rem;
    padding: 15px 20px;
    border-radius: .5rem;
    box-shadow: 0px 10px 0px 0px #262d3d;
}

.btn:active {
    transform: translateY(5px);
    box-shadow: 0px 7px 0px 0px #15171f;
    background: linear-gradient(90deg, rgb(24, 29, 39) 0%, rgb(37, 44, 60) 14.06%, rgb(37, 45, 61) 83.85%, rgb(20, 24, 32) 100%);
}

/* table */
.show_move {
    height: 15px;
    width: 15px;
    background-color: lightgrey;
    border-radius: 50%;
    border:solid lightgray;
    margin-left: auto;
    margin-right: auto;
  }

  table{
    border-spacing:0;
    border-collapse: collapse;
    margin: 20px;
}

th{
    min-width: 80px;
    border: solid 2px;
    height: 80px;
}

.player1{
    background-color: #c3b1e2;
}

.player2{
    background-color: #fdf698;
}

.container{
    display: flex;
}

.game-board {
    margin-left: auto;
    margin-right: auto;
}