#rulesDiv{
    margin: 20px;
}

table{
    border-spacing:0;
    border-collapse: collapse;
    margin: 20px;
}

th{
    padding: 30px;
    border: solid 2px;
}


nav, footer{
    color:white;
    background-color: #2d333b;
}

nav{
    width: auto;
    padding: 13px;
    display: flex;
    position: sticky;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:15px;
    padding-bottom: 25px;
    height:20px;
    font-size: x-small;
    display: flex;
}

footer > div{
    flex-grow: 1;
    
}

#div1Footer{
    padding-left: 10px;
}

footer a{
    color:white;
    text-decoration: none;
}

#div3Footer > p, #div4Footer > p{
    margin-top: 0px;
    margin-bottom: 1px;
}

#navButtons{
    flex-grow: 1;
}

#navName{
    flex-grow: 1;
    text-align: center;
}

#navProfile{
    flex-grow: 1;
    text-align: right;
}



body{
    font-family: 'Saira', sans-serif;
    margin: 0;
}


#buttonDiv{
    padding-left: 20px;
}

.startGameDiv{
    border-radius: 10px;
    padding: 5px;
    width: 95px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: greenyellow;
}

.movable{
    background-color: aqua;
}


/* base css */
.icon_svg{
    width: 25px;
    height: 25px;
    fill: white;
    cursor: pointer;
}

.icon_svg:hover{
    fill: lightgray;
}

.github_svg {
    padding-right: 2em;
}

/* btn */
a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}
.btn {
    background-color: #00e536;
    color: white;
    border: none;
    cursor: pointer;

    margin-top: 3.375rem;
    padding: 15px 20px;
    border-radius: .5rem;
    box-shadow: 0px 10px 0px 0px #088e27;
}

.btn:active {
    transform: translateY(5px);
    box-shadow: 0px 7px 0px 0px #008751;
    background: #088e27;
}

/* table */
.show_move {
    height: 15px;
    width: 15px;
    background-color: lightgrey;
    border-radius: 50%;
  }