{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="game-board">
        <table class="grid" style="width: 6em;margin-top:50px">  <!-- margin-left: auto;margin-right: auto; -->
        {%for i in range(0, size)%}
            <tr class="rowX{{i+1}}">
            {%for y in range(0, size)%}
                <th class="itemY{{y+1}} neutral"><div></div></th>
                    
            {% endfor %}
        {% endfor %}
    </div>
    <div class="game-settings">

    </div>
</div>

<script>playGame()</script>

{% endblock %}