{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="game-board">
        <div class="score_board">
            <div class="up">
                <div class="player1_name">
                    <h3 id="player1"></h3>
                </div>
                <div class="player2_name">
                    <h3 id="player2"></h3>
                </div>
            </div>
            <div class="down"">       
                <!-- <div class="player1_score">26</div> -->
                <div class="container_winner">
                    <h1 id="winner"></h1>
                </div>
                <!-- <div class="player2_score">2</div> -->
            </div>
        </div>

        <table class="grid" style="width: 6em;margin-top:50px">  <!-- margin-left: auto;margin-right: auto; -->
        {%for i in range(0, size)%}
            <tr class="rowX{{i+1}}">
            {%for y in range(0, size)%}
                <th class="itemY{{y+1}} neutral"><div></div></th>
                    
            {% endfor %}
        {% endfor %}
    </div>
</div>
<div class="mainDiv">
<div id="buttonDiv" class="button">
        
    <button class="btn" onclick="startGame('/game/start?players=human/human')">Player versus Player</a></button>
</div>

<div id="buttonDiv" class="button">
        
    <button class="btn" onclick="startGame('/game/start?players=human/ai')">Player verus AI</a></button>
</div>

<div id="buttonDiv" class="button">
        
    <button class="btn" onclick="startGame('/game/start?players=ai/ai')">AI versus AI</a></button>
</div>
</div>
<script>
    document.getElementsByClassName("grid")[0].hidden = true
    document.getElementsByClassName("score_board")[0].hidden = true
</script>

{% endblock %}